doctype html
html
  head
    title Ausencias
    link(rel='stylesheet', href='/styles.css')

  body
    h1 Lista de Ausencias

    a(href="/ausencias/nueva") Nueva Ausencia

    table
      tr
        th Profesional
        th Desde
        th Hasta
        th Motivo

      each a in ausencias
        tr
          td= a.nombre_completo
          td= a.fecha_inicio
          td= a.fecha_fin
          td= a.motivo