extends layout

block title
  | Editar Profesional

block content
  h1 Editar Profesional

  form(action=`/profesionales/${profesional.id}/editar` method="POST")
    div.mb-3
      label.form-label(for="nombre_completo") Nombre Completo
      input.form-control(type="text" id="nombre_completo" name="nombre_completo" value=profesional.nombre_completo required)

    div.mb-3
      label.form-label(for="matricula") Matrícula
      input.form-control(type="text" id="matricula" name="matricula" value=profesional.matricula required)

    div.mb-3
      label.form-label Especialidades
      select.form-select(name="especialidades[]" multiple size="5")
        each especialidad in especialidades
          - const selected = especialidadesAsignadas.some(e => e.id === especialidad.id)
          option(value=especialidad.id selected=selected)= especialidad.nombre
      div.form-text Mantén presionada la tecla Ctrl (o Cmd) para seleccionar múltiples.

    div.mt-4
      button.btn.btn-primary(type="submit") Guardar Cambios
      a.btn.btn-secondary.ms-2(href="/profesionales") Cancelar