doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles.css') 
  body
    h1= message
    p Bienvenido al sistema de gestión de consultas médicas.
    a(href='/turnos') Gestion Turnos
    br
    br
    a(href='/profesionales') Gestion Profesionales
    br
    br

    a(href='/pacientes') Gestion Pacientes
    br
    br

    a(href='/agendas') Gestion Agendas
    br
    br

    a(href="/ausencias") Gestionar Ausencias
    br
    
