extends layout

block title
  = title

block content
  div.text-center.mt-5
    h1= message
    p.lead Bienvenido al sistema de gestión de consultas médicas.
    
    div.list-group.d-inline-flex.flex-column.mt-4.w-50
      a.list-group-item.list-group-item-action(href='/turnos') Gestionar Turnos
      a.list-group-item.list-group-item-action(href='/profesionales') Gestionar Profesionales
      a.list-group-item.list-group-item-action(href='/pacientes') Gestionar Pacientes
      a.list-group-item.list-group-item-action(href='/agendas') Gestionar Agendas
      a.list-group-item.list-group-item-action(href="/ausencias") Gestionar Ausencias
