extends layout

block title
  | Agregar Nuevo Profesional

block content
  h1 Agregar Nuevo Profesional

  form(action="/profesionales/nuevo", method="POST")
    div.mb-3
      label.form-label(for="nombre_completo") Nombre Completo
      input.form-control(type="text" id="nombre_completo" name="nombre_completo" required)

    div.mb-3
      label.form-label(for="matricula") Matrícula
      input.form-control(type="text" id="matricula" name="matricula" required)

    div.mb-3
      label.form-label(for="especialidades") Especialidades existentes
      select.form-select(name="especialidades" id="especialidades" multiple size="5")
        each especialidad in especialidades
          option(value=especialidad.id)= especialidad.nombre

    div.mb-3
      label.form-label(for="nueva_especialidad") O agregar nueva especialidad
      input.form-control(type="text", id="nueva_especialidad" name="nueva_especialidad", placeholder="Ej: Traumatología")

    div.mt-4
      button(type="submit" class="btn btn-primary") Guardar Profesional
      a(href="/profesionales" class="btn btn-secondary ms-2") Volver a la Lista
