doctype html
html
  head
    title Nueva Agenda
    link(rel='stylesheet', href='/styles.css')

  body
    h1 Crear Agenda de Atención

    form(action="/agendas/nueva" method="POST")
      
      label Profesional
      select(name="profesional_id" required)
        option(value="" disabled selected) -- Selecciona profesional --
        each prof in profesionales
          option(value=prof.id)= prof.nombre_completo

      br

      label Especialidad
      select(name="especialidad_id" id="especialidadSelect" required)
        option(value="" disabled selected) -- Selecciona especialidad --

      br

      label Duración del turno (minutos)
      select(name="duracion_turno" required)
        option(value="" disabled selected) -- Seleccionar duración --
        option(value="10") 10 minutos
        option(value="20") 20 minutos
        option(value="30") 30 minutos
        option(value="40") 40 minutos
        option(value="50") 50 minutos
        option(value="60") 60 minutos

      br
      br
      button(type="submit") Crear agenda

    script.
      const profesionalSelect = document.querySelector('select[name="profesional_id"]');
      const especialidadSelect = document.getElementById('especialidadSelect');

      profesionalSelect.addEventListener('change', async () => {
        const profesionalId = profesionalSelect.value;

        especialidadSelect.innerHTML = '<option disabled selected>Cargando...</option>';

        const res = await fetch(`/profesionales/${profesionalId}/especialidades`);
        const data = await res.json();

        especialidadSelect.innerHTML = '<option disabled selected>Selecciona especialidad</option>';

        data.forEach(e => {
          const option = document.createElement('option');
          option.value = e.id;
          option.textContent = e.nombre;
          especialidadSelect.appendChild(option);
        });
      });

    br
    a(href="/agendas") Volver
