doctype html
html
  head
    title Nueva Ausencia
    link(rel='stylesheet', href='/styles.css')

  body
    h1 Registrar Ausencia

    form(action="/ausencias/nueva" method="POST")

      label Profesional:
      select(name="profesional_id" required)
        each prof in profesionales
          option(value=prof.id)= prof.nombre_completo

      br

      label Fecha Inicio:
      input(type="date" name="fecha_inicio" required)

      br

      label Fecha Fin:
      input(type="date" name="fecha_fin" required)

      br

      label Motivo:
      input(type="text" name="motivo")

      br

      button(type="submit") Guardar Ausencia