extends ../layout

block content

    h2 Contraseña generada

    .alert.alert-success

        h4#passwordBox= password

        button.btn.btn-primary#copyBtn Copiar

        a.btn.btn-secondary.ms-2(href="/usuarios")
            | Volver

    script.
        document.getElementById('copyBtn').addEventListener('click', () => {
            const text = document.getElementById('passwordBox').innerText;
            navigator.clipboard.writeText(text);
            alert('Copiado');
        });